<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


	
		<div class="form-group">
			<tmpl_if name="web_server_found">
				<div class="col-sm-9"><input class="form-control" type="checkbox" id="resync_sites" value="1" name="resync_sites"></div><label for="resync_sites" class="col-sm-3 control-label">{tmpl_var name='resync_sites_txt'}</label>
				<div class="col-sm-9"><select name="web_server_id" id="web_server_id" class="form-control">
					{tmpl_var name='web_server_id'}
				</select></div>
			<tmpl_else>
				<label for="resync_sites" class="col-sm-3 control-label">{tmpl_var name="resync_sites_txt"}</label> 
				<span style="color:red">
					<strong>{tmpl_var name="resync_no_server_txt"}</strong>
				</span>
			</tmpl_if>
		</div>
	

	
		<div class="form-group">
			<tmpl_if name="web_server_found">
				<div class="col-sm-9"><input class="form-control" type="checkbox" id="resync_ftp" value="1" name="resync_ftp"></div><label for="resync_ftp" class="col-sm-3 control-label">{tmpl_var name="resync_ftp_txt"}</label> 
				<div class="col-sm-9"><select name="ftp_server_id" id="ftp_server_id" class="form-control">
					{tmpl_var name='ftp_server_id'}
				</select></div>
			<tmpl_else>
				<label for="resync_ftp" class="col-sm-3 control-label">{tmpl_var name="resync_ftp_txt"}</label> 
				<span style="color:red">
					<strong>{tmpl_var name="resync_no_server_txt"}</strong>
				</span>
			</tmpl_if>
		</div>
	

	
		<div class="form-group">
			<tmpl_if name="file_server_found">
				<div class="col-sm-9"><input class="form-control" type="checkbox" id="resync_webdav" value="1" name="resync_webdav"></div><label for="resync_webdav" class="col-sm-3 control-label">{tmpl_var name="resync_webdav_txt"}</label> 
				<div class="col-sm-9"><select name="webdav_server_id" id="webdav_server_id" class="form-control">
					{tmpl_var name='file_server_id'}
				</select></div>
			<tmpl_else>
				<label for="resync_webdav" class="col-sm-3 control-label">{tmpl_var name="resync_webdav_txt"}</label> 
				<span style="color:red">
					<strong>{tmpl_var name="resync_no_server_txt"}</strong>
				</span>
			</tmpl_if>
		</div>
	

	
		<div class="form-group">
			<tmpl_if name="web_server_found">
				<div class="col-sm-9"><input class="form-control" type="checkbox" id="resync_shell" value="1" name="resync_shell"></div><label for="resync_shell" class="col-sm-3 control-label">{tmpl_var name="resync_shell_txt"}</label> 
				<div class="col-sm-9"><select name="shell_server_id" id="shell_server_id" class="form-control">
					{tmpl_var name='web_server_id'}
				</select></div>
			<tmpl_else>
				<label for="resync_shell" class="col-sm-3 control-label">{tmpl_var name="resync_shell_txt"}</label> 
				<span style="color:red">
					<strong>{tmpl_var name="resync_no_server_txt"}</strong>
				</span>
			</tmpl_if>
		</div>
	

	
		<div class="form-group">
			<tmpl_if name="web_server_found">
				<div class="col-sm-9"><input class="form-control" type="checkbox" id="resync_cron" value="1" name="resync_cron"></div><label for="resync_cron" class="col-sm-3 control-label">{tmpl_var name="resync_cron_txt"}</label> 
				<div class="col-sm-9"><select name="cron_server_id" id="cron_server_id" class="form-control">
					{tmpl_var name='web_server_id'}
				</select></div>
			<tmpl_else>
				<label for="resync_cron" class="col-sm-3 control-label">{tmpl_var name="resync_cron_txt"}</label> 
				<span style="color:red">
					<strong>{tmpl_var name="resync_no_server_txt"}</strong>
				</span>
			</tmpl_if>
		</div>
	

	
		<div class="form-group">
			<tmpl_if name="db_server_found">
				<div class="col-sm-9"><input class="form-control" type="checkbox" id="resync_db" value="1" name="resync_db"></div><label for="resync_db" class="col-sm-3 control-label">{tmpl_var name="resync_db_txt"}</label> 
				<div class="col-sm-9"><select name="db_server_id" id="db_server_id" class="form-control">
					{tmpl_var name='db_server_id'}
				</select></div>
			<tmpl_else>
				<label for="resync_db" class="col-sm-3 control-label">{tmpl_var name="resync_db_txt"}</label> 
				<span style="color:red">
					<strong>{tmpl_var name="resync_no_server_txt"}</strong>
				</span>
			</tmpl_if>
		</div>
	
	
	
		<div class="form-group">
			<tmpl_if name="mail_server_found">
				<div class="col-sm-9"><input class="form-control" type="checkbox" id="resync_mail" value="1" name="resync_mail"></div><label for="resync_mail" class="col-sm-3 control-label">{tmpl_var name="resync_mail_txt"}</label> 
				<div class="col-sm-9"><select name="mail_server_id" id="mail_server_id" class="form-control">
					{tmpl_var name='mail_server_id'}
				</select></div>
			<tmpl_else>
				<label for="resync_mail" class="col-sm-3 control-label">{tmpl_var name="resync_mail_txt"}</label> 
				<span style="color:red">
					<strong>{tmpl_var name="resync_no_server_txt"}</strong>
				</span>
			</tmpl_if>
		</div>
	

	
		<div class="form-group">
			<tmpl_if name="mail_server_found">
				<div class="col-sm-9"><input class="form-control" type="checkbox" id="resync_mailbox" value="1" name="resync_mailbox"></div><label for="resync_mailbox" class="col-sm-3 control-label">{tmpl_var name="resync_mailbox_txt"}</label> 
				<div class="col-sm-9"><select name="mailbox_server_id" id="mailbox_server_id" class="form-control">
					{tmpl_var name='mail_server_id'}
				</select></div>
			<tmpl_else>
				<label for="resync_mailbox" class="col-sm-3 control-label">{tmpl_var name="resync_mailbox_txt"}</label> 
				<span style="color:red">
					<strong>{tmpl_var name="resync_no_server_txt"}</strong>
				</span>
			</tmpl_if>
		</div>

	<fieldset class="inlineLabels">
		<div class="form-group">
			<tmpl_if name="dns_server_found">
				<div class="col-sm-9"><input class="form-control" type="checkbox" id="resync_dns" value="1" name="resync_dns"></div><label for="resync_dns" class="col-sm-3 control-label">{tmpl_var name="resync_dns_txt"}</label> 
				<div class="col-sm-9"><select name="dns_server_id" id="dns_server_id" class="form-control">
					{tmpl_var name='dns_server_id'}
				</select></div>
			<tmpl_else>
				<label for="resync_dns" class="col-sm-3 control-label">{tmpl_var name="resync_dns_txt"}</label> 
				<span style="color:red">
					<strong>{tmpl_var name="resync_no_server_txt"}</strong>
				</span>
			</tmpl_if>
		</div>
	

	
		<div class="form-group">
			<tmpl_if name="vserver_server_found">
				<div class="col-sm-9"><input class="form-control" type="checkbox" id="resync_vserver" value="1" name="resync_vserver"></div><label for="resync_vserver" class="col-sm-3 control-label">{tmpl_var name="resync_vserver_txt"}</label> 
				<div class="col-sm-9"><select name="vserver_server_id" id="vserver_server_id" class="form-control">
					{tmpl_var name='vserver_server_id'}
				</select></div>
			<tmpl_else>
				<label for="resync_vserver" class="col-sm-3 control-label">{tmpl_var name="resync_vserver_txt"}</label> 
				<span style="color:red">
					<strong>{tmpl_var name="resync_no_server_txt"}</strong>
				</span>
			</tmpl_if>
		</div>
	

	
		<div class="form-group">
			<tmpl_if name="firewall_server_found">
				<div class="col-sm-9"><input class="form-control" type="checkbox" id="resync_firewall" value="1" name="resync_firewall"></div><label for="resync_firewall" class="col-sm-3 control-label">{tmpl_var name="resync_firewall_txt"}</label> 
				<div class="col-sm-9"><select name="firewall_server_id" id="firewall_server_id" class="form-control">
					{tmpl_var name='firewall_server_id'}
				</select></div>
			<tmpl_else>
				<label for="resync_firewall" class="col-sm-3 control-label">{tmpl_var name="resync_firewall_txt"}</label> 
				<span style="color:red">
					<strong>{tmpl_var name="resync_no_server_txt"}</strong>
				</span>
			</tmpl_if>
		</div>
	

	
		<div class="form-group">
			<div class="col-sm-9"><input class="form-control" type="checkbox" id="resync_client" value="1" name="resync_client"></div><label for="resync_client" class="col-sm-3 control-label">{tmpl_var name="resync_client_txt"}</label> 
		</div>
	

	<input type="hidden" name="id" value="{tmpl_var name='id'}">

	<div class="clear"><div class="right">
		<button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="tools/resync_do.php">{tmpl_var name='btn_save_txt'}</button>
		<button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="tools/resync.php">{tmpl_var name='btn_cancel_txt'}</button>
	</div></div>

