#!/bin/bash
#mysql
dbase={mysql_server_database}
dbhost={mysql_server_ip}
dbuser={mysql_server_ispconfig_user}
dbpass={mysql_server_ispconfig_password}

bindpath=/etc/bind
backuppath=$bindpath/backup
curpath=`pwd`
if [ -f /etc/gentoo-release ] ; then
filespre="pri/"
else
filespre="pri."
fi
timenow=`/bin/date +"%Y%m%d-%H%M%S"`

namedconf="$bindpath/named.conf.local"
md5namedconf="$bindpath/named.conf.local.md5"
