user = {mysql_server_ispconfig_user}
password = {mysql_server_ispconfig_password}
dbname = {mysql_server_database}
hosts = {mysql_server_ip}
query = select access from mail_access where source = '%s' and type = 'recipient' and active = 'y' and server_id = {server_id}
