<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>


        <p>{tmpl_var name="toolsarea_head_txt"}</p>
            
                <button class="button iconstxt icoAdd" type="button" data-load-content="vm/openvz_vm_edit.php">
                    <span>{tmpl_var name="add_new_record_txt"}</span>
                </button>
            
        

    
        <p><tmpl_var name="list_head_txt"></p>
            <div class="table-wrapper marginTop15">
<table class="table">
                <thead class="dark">
                    <tr>
                        <th><tmpl_var name="veid_txt"></th>
                        <th><tmpl_var name="active_txt"></th>
                        <th><tmpl_var name="server_id_txt"></th>
                        <th><tmpl_var name="ostemplate_id_txt"></th>
                        <th><tmpl_var name="template_id_txt"></th>
                        <th><tmpl_var name="hostname_txt"></th>
                        <th><tmpl_var name="ip_address_txt"></th>
                        <th>{tmpl_var name='search_limit'}</th>
                    </tr>
                    <tr>
                        <td><div class="col-sm-9"><input type="text" name="search_veid" value="{tmpl_var name='search_veid'}" /></div></td>
                        <td><select name="search_active">{tmpl_var name='search_active'}</select></td>
                        <td><select name="search_server_id">{tmpl_var name='search_server_id'}</select></td>
                        <td><select name="search_ostemplate_id">{tmpl_var name='search_ostemplate_id'}</select></td>
                        <td><select name="search_template_id">{tmpl_var name='search_template_id'}</select></td>
                        <td><div class="col-sm-9"><input type="text" name="search_hostname" value="{tmpl_var name='search_hostname'}" /></div></td>
                        <td><div class="col-sm-9"><input type="text" name="search_ip_address" value="{tmpl_var name='search_ip_address'}" /></div></td>
                        <td>
                            <button type="button" class="btn btn-default formbutton-filter" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onclick="submitForm('pageForm','vm/openvz_vm_list.php');">{tmpl_var name="filter_txt"}</button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tmpl_loop name="records">
                        <tr class="tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                            <td><a href="#" data-load-content="vm/openvz_vm_edit.php?id={tmpl_var name='id'}">{tmpl_var name="veid"}</a></td>
                            <td><a href="#" data-load-content="vm/openvz_vm_edit.php?id={tmpl_var name='id'}">{tmpl_var name="active"}</a></td>
                            <td><a href="#" data-load-content="vm/openvz_vm_edit.php?id={tmpl_var name='id'}">{tmpl_var name="server_id"}</a></td>
                            <td><a href="#" data-load-content="vm/openvz_vm_edit.php?id={tmpl_var name='id'}">{tmpl_var name="ostemplate_id"}</a></td>
                            <td><a href="#" data-load-content="vm/openvz_vm_edit.php?id={tmpl_var name='id'}">{tmpl_var name="template_id"}</a></td>
                            <td><a href="#" data-load-content="vm/openvz_vm_edit.php?id={tmpl_var name='id'}">{tmpl_var name="hostname"}</a></td>
                            <td><a href="#" data-load-content="vm/openvz_vm_edit.php?id={tmpl_var name='id'}">{tmpl_var name="ip_address"}</a></td>
                            <td>
                                <a class="button icons16 icoAction" data-load-content="vm/openvz_action.php?id={tmpl_var name='id'}"><span>Action</span></a>
                                <a class="btn btn-default formbutton-delete" href="javascript: del_record('vm/openvz_vm_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');">{tmpl_var name='delete_txt'}</button>
                            </td>
                        </tr>
                    </tmpl_loop>
                    <tmpl_unless name="records">
                        <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                            <td colspan="8">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
                        </tr>
                    </tmpl_unless>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8"><tmpl_var name="paging"></td>
                    </tr>
                </tfoot>
            </table>
</div>
        
    