<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        <p><tmpl_var name="list_head_txt"></p>
            <div class="table-wrapper marginTop15">
<table class="table">
                <thead class="dark">
                    <tr>
                        <th><tmpl_var name="tstamp_txt"></th>
                        <th><tmpl_var name="server_id_txt"></th>
                        <th><tmpl_var name="action_txt"></th>
                        <th><tmpl_var name="dbtable_txt"></th>
                        <th>{tmpl_var name='search_limit'}</th>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><select name="search_server_id">{tmpl_var name='search_server_id'}</select></td>
                        <td><select name="search_action">{tmpl_var name='search_action'}</select></td>
                        <td><div class="col-sm-9"><input type="text" name="search_dbtable" value="{tmpl_var name='search_dbtable'}" /></div></td>
                        <td>
                            <button type="button" class="btn btn-default formbutton-filter" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onclick="submitForm('pageForm','monitor/datalog_list.php');">{tmpl_var name="filter_txt"}</button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tmpl_loop name="records">
                        <tr class="tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                            <td>{tmpl_var name="tstamp"}</td>
                            <td>{tmpl_var name="server_id"}</td>
                            <td>{tmpl_var name="action"}</td>
                            <td>{tmpl_var name="dbtable"}</td>
                            <td>    
                                <!--<a class="btn btn-default formbutton-delete" href="javascript: del_record('monitor/datalog_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');">{tmpl_var name='delete_txt'}</button> -->
                            </td>
                        </tr>
                    </tmpl_loop>
                    <tmpl_unless name="records">
                        <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                            <td colspan="5">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
                        </tr>
                    </tmpl_unless>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5"><tmpl_var name="paging"></td>
                    </tr>
                </tfoot>
            </table>
</div>
        
    </div>