<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">{tmpl_var name='name_txt'}</label>
                <div class="col-sm-9"><input type="text" name="name" id="name" value="{tmpl_var name='name'}" class="form-control" /> &nbsp; {tmpl_var name='name_optional_txt'}
            </div></div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><em>*</em> {tmpl_var name='email_txt'}</label>
                <div class="col-sm-9">
                    <label for="email_local_part" class="col-sm-3 control-label">Alias<div class="col-sm-9"><input type="text" id="email_local_part" name="email_local_part" value="{tmpl_var name='email_local_part'}" class="form-control" /></div></label>
                    <label for="email_at" class="col-sm-3 control-label">&nbsp;<span id="email_at" name="email_at" />@</label>
                    <label for="email_domain" class="col-sm-3 control-label">{tmpl_var name='domain_txt'}<div class="col-sm-9"><select name="email_domain" id="email_domain" class="form-control">{tmpl_var name='email_domain'}</select></div></label>
                </div>
            </div>
            <tmpl_if name="enable_custom_login"><div class="form-group">
                    <label for="login" class="col-sm-3 control-label">{tmpl_var name='login_txt'}</label>
                    <div class="col-sm-9"><input type="text" id="login" name="login" value="{tmpl_var name='login'}" class="form-control" /></div></label>
                </div></tmpl_if>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">{tmpl_var name='password_txt'}</label>
                <input name="password" id="password" value="{tmpl_var name='password'}" size="30" maxlength="255" type="password" class="textInput" autocomplete="off" onkeyup="pass_check(this.value);checkPassMatch('password','repeat_password');" />&nbsp;<a href="javascript:void(0);" onclick="generatePassword('password','repeat_password');">{tmpl_var name='generate_password_txt'}</a>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='password_strength_txt'}</label>
                <div id="passBar"></div>
                <p class="formHint"><span id="passText">&nbsp;</span></p>
            </div>
            <div class="form-group">
                <label for="repeat_password" class="col-sm-3 control-label">{tmpl_var name='repeat_password_txt'}</label>
                <input name="repeat_password" id="repeat_password" value="" size="15" maxlength="100" type="password" class="textInput" style="width:100px;" autocomplete="off" onkeyup="checkPassMatch('password','repeat_password');" />
            </div>
            <div id="confirmpasswordError" style="display:none;" class="confirmpassworderror">{tmpl_var name='password_mismatch_txt'}</div>
            <div id="confirmpasswordOK" style="display:none;" class="confirmpasswordok">{tmpl_var name='password_match_txt'}</div>
            <div class="form-group">
                <label for="quota" class="col-sm-3 control-label">{tmpl_var name='quota_txt'}</label>
                <div class="col-sm-9"><input type="text" name="quota" id="quota" value="{tmpl_var name='quota'}" class="form-control" /></div><label class="col-sm-3 control-label">MB</label>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">{tmpl_var name='cc_txt'}</label>
                <div class="col-sm-9"><input type="text" name="cc" id="cc" value="{tmpl_var name='cc'}" class="form-control" /> &nbsp; {tmpl_var name='name_optional_txt'} {tmpl_var name='cc_note_txt'}
            </div></div>
            <div class="form-group">
                <label for="sender_name" class="col-sm-3 control-label">{tmpl_var name='sender_cc_txt'}</label>
                <div class="col-sm-9"><input type="text" name="sender_cc" id="sender_cc" value="{tmpl_var name='sender_cc'}" class="form-control" /> &nbsp; {tmpl_var name='name_optional_txt'} {tmpl_var name='sender_cc_note_txt'}
            </div></div>
            <div class="form-group">
                <label for="policy" class="col-sm-3 control-label">{tmpl_var name='policy_txt'}</label>
                <div class="col-sm-9"><select name="policy" id="policy" class="form-control">
                    {tmpl_var name='policy'}
                </select>
            </div></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='postfix_txt'}</label>
                <div class="col-sm-9">
                    {tmpl_var name='postfix'}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='disablesmtp_txt'}</label>
                <div class="col-sm-9">
                    {tmpl_var name='disablesmtp'}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='disableimap_txt'}</label>
                <div class="col-sm-9">
                    {tmpl_var name='disableimap'}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='disablepop3_txt'}</label>
                <div class="col-sm-9">
                    {tmpl_var name='disablepop3'}
                </div>
            </div>
        

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','mail/mail_user_edit.php');">{tmpl_var name='btn_save_txt'}</button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="mail/mail_user_list.php"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div></div>