<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        <p>{tmpl_var name="toolsarea_head_txt"}</p>
            
                <button class="btn btn-default formbutton-success" type="button" data-load-content="mail/mail_whitelist_edit.php">{tmpl_var name="add_new_record_txt"}</button>
            
        

    
        <p><tmpl_var name="list_head_txt"></p>
            <div class="table-wrapper marginTop15">
<table class="table">
                <thead class="dark">
                    <tr>
                        <th><tmpl_var name="active_txt"></th>
                        <th><tmpl_var name="server_id_txt"></th>
                        <th><tmpl_var name="source_txt"></th>
                        <th><tmpl_var name="type_txt"></th>
                        <th>{tmpl_var name='search_limit'}</th>
                    </tr>
                    <tr>
                        <td><select name="search_active">{tmpl_var name='search_active'}</select></td>
                        <td><select name="search_server_id">{tmpl_var name='search_server_id'}</select></td>
                        <td><input type="text" name="search_source" value="{tmpl_var name='search_source'}" /></td>
                        <td><select name="search_type">{tmpl_var name='search_type'}</select></td>
                        <td>
                            <button type="button" class="btn btn-default formbutton-filter" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onclick="submitForm('pageForm','mail/mail_whitelist_list.php');">{tmpl_var name="filter_txt"}</button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tmpl_loop name="records">
                        <tr>
                            <td><a href="#" data-load-content="mail/mail_whitelist_edit.php?id={tmpl_var name='id'}">{tmpl_var name="active"}</a></td>
                            <td><a href="#" data-load-content="mail/mail_whitelist_edit.php?id={tmpl_var name='id'}">{tmpl_var name="server_id"}</a></td>
                            <td><a href="#" data-load-content="mail/mail_whitelist_edit.php?id={tmpl_var name='id'}">{tmpl_var name="source"}</a></td>
                            <td><a href="#" data-load-content="mail/mail_whitelist_edit.php?id={tmpl_var name='id'}">{tmpl_var name="type"}</a></td>
                            <td>
                                <a class="btn btn-default formbutton-delete" href="javascript: del_record('mail/mail_whitelist_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');">{tmpl_var name='delete_txt'}</button>
                            </td>
                        </tr>
                    </tmpl_loop>
                    <tmpl_unless name="records">
                        <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                            <td colspan="5">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
                        </tr>
                    </tmpl_unless>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5"><tmpl_var name="paging"></td>
                    </tr>
                </tfoot>
            </table>
</div>
        
    