<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        <p>{tmpl_var name="toolsarea_head_txt"}</p>
            
                <button class="button iconstxt icoAdd" type="button" data-load-content="mail/spamfilter_policy_edit.php">
                    <span>{tmpl_var name="add_new_record_txt"}</span>
                </button>
            
        

    
        <p><tmpl_var name="list_head_txt"></p>
            <div class="table-wrapper marginTop15">
<table class="table">
                <thead class="dark">
                    <tr>
                        <th><tmpl_var name="policy_name_txt"></th>
                        <th><tmpl_var name="virus_lover_txt"></th>
                        <th><tmpl_var name="spam_lover_txt"></th>
                        <th><tmpl_var name="banned_files_lover_txt"></th>
                        <th><tmpl_var name="bad_header_lover_txt"></th>
                        <th>{tmpl_var name='search_limit'}</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="search_policy_name" value="{tmpl_var name='search_policy_name'}" /></td>
                        <td><select name="search_virus_lover">{tmpl_var name='search_virus_lover'}</select></td>
                        <td><select name="search_spam_lover">{tmpl_var name='search_spam_lover'}</select></td>
                        <td><select name="search_banned_files_lover">{tmpl_var name='search_banned_files_lover'}</select></td>
                        <td><select name="search_bad_header_lover">{tmpl_var name='search_bad_header_lover'}</select></td>
                        <td>
                            <button type="button" class="btn btn-default formbutton-filter" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onclick="submitForm('pageForm','mail/spamfilter_policy_list.php');">{tmpl_var name="filter_txt"}</button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                <tmpl_loop name="records">
                    <tr class="tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                        <td><a href="#" data-load-content="mail/spamfilter_policy_edit.php?id={tmpl_var name='id'}">{tmpl_var name="policy_name"}</a></td>
                        <td><a href="#" data-load-content="mail/spamfilter_policy_edit.php?id={tmpl_var name='id'}">{tmpl_var name="virus_lover"}</a></td>
                        <td><a href="#" data-load-content="mail/spamfilter_policy_edit.php?id={tmpl_var name='id'}">{tmpl_var name="spam_lover"}</a></td>
                        <td><a href="#" data-load-content="mail/spamfilter_policy_edit.php?id={tmpl_var name='id'}">{tmpl_var name="banned_files_lover"}</a></td>
                        <td><a href="#" data-load-content="mail/spamfilter_policy_edit.php?id={tmpl_var name='id'}">{tmpl_var name="bad_header_lover"}</a></td>
                        <td>
                            <a class="btn btn-default formbutton-delete" href="javascript: del_record('mail/spamfilter_policy_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');">{tmpl_var name='delete_txt'}</button>
                        </td>
                    </tr>
                </tmpl_loop>
                <tmpl_unless name="records">
                    <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                        <td colspan="6">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
                    </tr>
                </tmpl_unless>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="6"><tmpl_var name="paging"></td>
                    </tr>
                </tfoot>
            </table>
</div>
        
    