<div class='page-header'>
	<h1><tmpl_var name="pw_reset_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_password_reset">
  
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>

    <div class="pnl_formsarea">
        <legend>{tmpl_var name='pw_reset_txt'}</legend>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label"><em>*</em> {tmpl_var name='email_txt'}</label>
                <div class="col-sm-9"><input type="text" name="email" id="email" value="" class="form-control" /></div></div>
            <div class="form-group">
                <label for="username" class="col-sm-3 control-label"><em>*</em> {tmpl_var name='username_txt'}</label>
                <div class="col-sm-9"><input type="text" name="username" id="username" value="" class="form-control" /></div></div>			
        

        <input type="hidden" name="s_mod" value="login" />
        <input type="hidden" name="s_pg" value="index" />

        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='pw_button_txt'}" data-submit-form="pageForm" data-form-action="login/password_reset.php">{tmpl_var name='pw_button_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='back_txt'}" onclick="loadInitContent();">{tmpl_var name='back_txt'}</button>

        </div></div>
    </div>
  
</div>