<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        <p><tmpl_var name="list_head_txt"></p>
            <div class="table-wrapper marginTop15">
<table class="table">
                <thead class="dark">
                    <tr>
                        <th><tmpl_var name="server_name_txt"></th>
                        <th><tmpl_var name="mail_server_txt"></th>
                        <th><tmpl_var name="web_server_txt"></th>
                        <th><tmpl_var name="dns_server_txt"></th>
                        <th><tmpl_var name="file_server_txt"></th>
                        <th><tmpl_var name="db_server_txt"></th>
                        <th><tmpl_var name="vserver_server_txt"></th>
                        <th>{tmpl_var name='search_limit'}</th>
                    </tr>
                    <tr>
                        <td><div class="col-sm-9"><input type="text" name="search_server_name" value="{tmpl_var name='search_server_name'}" /></div></td>
                        <td><select name="search_active">{tmpl_var name='search_mail_server'}</select></td>
                        <td><select name="search_active">{tmpl_var name='search_web_server'}</select></td>
                        <td><select name="search_active">{tmpl_var name='search_dns_server'}</select></td>
                        <td><select name="search_active">{tmpl_var name='search_file_server'}</select></td>
                        <td><select name="search_active">{tmpl_var name='search_db_server'}</select></td>
                        <td><select name="search_active">{tmpl_var name='search_vserver_server'}</select></td>
                        <td>
                            <button type="button" class="btn btn-default formbutton-filter" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onclick="submitForm('pageForm','admin/server_list.php');">{tmpl_var name="filter_txt"}</button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tmpl_loop name="records">
                        <tr class="tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                            <td><a href="#" data-load-content="admin/server_edit.php?id={tmpl_var name='id'}">{tmpl_var name="server_name"}</a></td>
                            <td>{tmpl_var name="mail_server"}</td>
                            <td>{tmpl_var name="web_server"}</td>
                            <td>{tmpl_var name="dns_server"}</td>
                            <td>{tmpl_var name="file_server"}</td>
                            <td>{tmpl_var name="db_server"}</td>
                            <td>{tmpl_var name="vserver_server"}</td>
                            <td>
                                <a class="btn btn-default formbutton-delete" href="javascript: del_record('admin/server_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');">{tmpl_var name='delete_txt'}</button>
                            </td>
                        </tr>
                    </tmpl_loop>
                    <tmpl_unless name="records">
                        <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                            <td colspan="8">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
                        </tr>
                    </tmpl_unless>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8"><tmpl_var name="paging"></td>
                    </tr>
                </tfoot>
            </table>
</div>
        
    </div>