<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>


        <p>{tmpl_var name="toolsarea_head_txt"}</p>
            
                <button class="btn btn-default formbutton-success" type="button" data-load-content="admin/server_ip_edit.php">{tmpl_var name="add_new_record_txt"}</button>
            
        

    
        <p><tmpl_var name="list_head_txt"></p>
            <div class="table-wrapper marginTop15">
<table class="table">
                <thead class="dark">
                    <tr>
                        <th><tmpl_var name="server_id_txt"></th>
                        <th><tmpl_var name="client_id_txt"></th>
                        <th><tmpl_var name="ip_type_txt"></th>
                        <th><tmpl_var name="ip_address_txt"></th>
                        <th><tmpl_var name="virtualhost_txt"></th>
                        <th><tmpl_var name="virtualhost_port_txt"></th>
                        <th>{tmpl_var name='search_limit'}</th>
                    </tr>
                    <tr>
                        <td><select name="search_server_id">{tmpl_var name='search_server_id'}</select></td>
                        <td><select name="search_client_id">{tmpl_var name='search_client_id'}</select></td>
                        <td><select name="search_ip_type">{tmpl_var name='search_ip_type'}</select></td>
                        <td><input type="text" name="search_ip_address" value="{tmpl_var name='search_ip_address'}" /></td>
                        <td><select name="search_virtualhost">{tmpl_var name='search_virtualhost'}</select></td>
                        <td><input type="text" name="search_virtualhost_port" value="{tmpl_var name='search_virtualhost_port'}" /></td>
                        <td>
                            <button type="button" class="btn btn-default formbutton-filter" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onclick="submitForm('pageForm','admin/server_ip_list.php');">{tmpl_var name="filter_txt"}</button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tmpl_loop name="records">
                        <tr>
                            <td><a href="#" data-load-content="admin/server_ip_edit.php?id={tmpl_var name='id'}">{tmpl_var name="server_id"}</a></td>
                            <td><a href="#" data-load-content="admin/server_ip_edit.php?id={tmpl_var name='id'}">{tmpl_var name="client_id"}</a></td>
                            <td><a href="#" data-load-content="admin/server_ip_edit.php?id={tmpl_var name='id'}">{tmpl_var name="ip_type"}</a></td>
                            <td><a href="#" data-load-content="admin/server_ip_edit.php?id={tmpl_var name='id'}">{tmpl_var name="ip_address"}</a></td>
                            <td><a href="#" data-load-content="admin/server_ip_edit.php?id={tmpl_var name='id'}">{tmpl_var name="virtualhost"}</a></td>
                            <td><a href="#" data-load-content="admin/server_ip_edit.php?id={tmpl_var name='id'}">{tmpl_var name="virtualhost_port"}</a></td>
                            <td>
                                <a class="btn btn-default formbutton-delete" href="javascript: del_record('admin/server_ip_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');">{tmpl_var name='delete_txt'}</button>
                            </td>
                        </tr>
                    </tmpl_loop>
                    <tmpl_unless name="records">
                        <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                            <td colspan="7">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
                        </tr>
                    </tmpl_unless>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7"><tmpl_var name="paging"></td>
                    </tr>
                </tfoot>
            </table>
</div>
        
    