<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        <p>{tmpl_var name="toolsarea_head_txt"}</p>
            
                <button class="button iconstxt icoAdd" type="button" data-load-content="admin/users_edit.php">
                    <span>{tmpl_var name="add_new_record_txt"}</span>
                </button>
                <p><tmpl_var name="warning_txt"></p>
            
        

    
        <p><tmpl_var name="list_head_txt"></p>
            <div class="table-wrapper marginTop15">
<table class="table">
                <thead class="dark">
                    <tr>
                        <th><tmpl_var name="client_id_txt"></th>
                        <th><tmpl_var name="active_txt"></th>
                        <th><tmpl_var name="username_txt"></th>
                        <th><tmpl_var name="groups_txt"></th>
                        <th>{tmpl_var name='search_limit'}</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="search_client_id" value="{tmpl_var name='search_client_id'}" /></td>
                        <td><select name="search_active">{tmpl_var name='search_active'}</select></td>
                        <td><input type="text" name="search_username" value="{tmpl_var name='search_username'}" /></td>
                        <td><select name="search_groups">{tmpl_var name='search_groups'}</select></td>
                        <td>
                            <button type="button" class="btn btn-default formbutton-filter" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onclick="submitForm('pageForm','admin/users_list.php');">{tmpl_var name="filter_txt"}</button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tmpl_loop name="records">
                        <tr class="tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                            <td><a href="#" data-load-content="admin/users_edit.php?id={tmpl_var name='id'}">{tmpl_var name="client_id"}</a></td>
                            <td><a href="#" data-load-content="admin/users_edit.php?id={tmpl_var name='id'}">{tmpl_var name="active"}</a></td>
                            <td><div class="icons16 group-{tmpl_var name="typ"}" title="{tmpl_var name="typ"}"><span>{tmpl_var name="typ"}</span></div> <div class="group-icon"><a href="#" data-load-content="admin/users_edit.php?id={tmpl_var name='id'}">{tmpl_var name="username"}</a></div></td>
                            <td>{tmpl_var name="groups"}</td>
                            <td>
                                <tmpl_if name="username" op="!=" value="admin">
                                    <a class="button icons16 icoLoginAs" data-load-content="login/login_as.php?cid={tmpl_var name='client_id'}"><span>{tmpl_var name='login_as_txt'}</span></a>
                                    <a class="btn btn-default formbutton-delete" href="javascript: del_record('admin/users_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');">{tmpl_var name='delete_txt'}</button>
                                </tmpl_if>
                            </td>
                        </tr>
                    </tmpl_loop>
                    <tmpl_unless name="records">
                        <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                            <td colspan="5">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
                        </tr>
                    </tmpl_unless>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5"><tmpl_var name="paging"></td>
                    </tr>
                </tfoot>
            </table>
</div>
        
    