<h2>{tmpl_var name="list_head_txt"}</h2>


        <p>{tmpl_var name="list_head_txt"}</p>
            <div class="table-wrapper marginTop15">
<table class="table">
                <thead class="dark">
                    <tr>
                        <th>{tmpl_var name='name_txt'}</th>
                        <th>{tmpl_var name='version_txt'}</th>
                        <tmpl_if name='is_noclient'>
                        <!--<th>{tmpl_var name='customer_txt'}</th>-->
                        </tmpl_if>
                        <th>{tmpl_var name='install_location_txt'}</th>
                        <th>{tmpl_var name='status_txt'}</th>
                        <th >&nbsp;</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="search_name" value="{tmpl_var name='search_name'}" /></td>
                        <td><input type="text" name="search_version" value="{tmpl_var name='search_version'}" /></td>
                        <tmpl_if name='is_noclient'>
                        <!--<td><input type="text" name="search_customer_name" value="{tmpl_var name='search_customer_name'}" /></td>-->
                        </tmpl_if>
                        <td>&nbsp;</td>
                        <td><select name="search_instance_status" onChange="submitForm('pageForm','sites/aps_installedpackages_list.php');">{tmpl_var name='search_instance_status'}</select></td>
                        <td>
                            <button type="button" class="btn btn-default formbutton-filter" name="Filter" id="Filter" value="{tmpl_var name='filter_txt'}" onclick="submitForm('pageForm','sites/aps_installedpackages_list.php');">{tmpl_var name='filter_txt'}</button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tmpl_loop name='records'>
                        <tr class="tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                            <td><a href="#" data-load-content="sites/aps_packagedetails_show.php?id={tmpl_var name='package_id'}">{tmpl_var name='package_name'}</a></td>
                            <td>{tmpl_var name='package_version'}-{tmpl_var name='package_release'}</td>
                            <tmpl_if name='is_noclient'>
                                <!--<td><a href="#" data-load-content="sites/aps_packagedetails_show.php?id={tmpl_var name='package_id'}">{tmpl_var name='customer_name'}</a></td>-->
                            </tmpl_if>
                            <td><a href="http://{tmpl_var name='install_location'}" target="_blank">{tmpl_var name='install_location_short'}</a></td>
                            <td><span id="status_content{tmpl_var name='__ROWNUM__'}">{tmpl_var name='instance_status'}</span></td>
                            <td>
                                <tmpl_if name='delete_possible'>
                                    <a class="btn btn-default formbutton-delete" href="javascript: del_record('sites/aps_do_operation.php?action=delete_instance&id={tmpl_var name='id'}','{tmpl_var name='pkg_delete_confirmation'}')">{tmpl_var name='delete_txt'}</button>
                                </tmpl_if>
                            </td>        
                        </tr>
                    </tmpl_loop>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">{tmpl_var name='paging'}</td>
                    </tr>
                </tfoot>
            </table>
</div>
        
    </div>