<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>


		 <p><tmpl_var name="list_head_txt"></p>
			 <div class="table-wrapper marginTop15">
<table class="table">
				<thead class="dark">
				<tr>
					<th><tmpl_var name="database_txt"></th>
					<th><tmpl_var name="client_txt"></th>
					<th><tmpl_var name="used_txt"></th>
					<th><tmpl_var name="quota_txt"></th>
					<th><tmpl_var name="percentage_txt">
					<th>{tmpl_var name='search_limit'}</th>
				</tr>
				<tr>
					<td><input type="text" name="search_database_name" value="{tmpl_var name='search_database_name'}" /></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>
						<button type="button" class="btn btn-default formbutton-filter" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onclick="submitForm('pageForm','sites/database_quota_stats.php');">{tmpl_var name="filter_txt"}</button>
					</td>
				</tr>
				</thead>
				<tbody>
					<tmpl_loop name="records">
						<tr>
							<td><a href="#" data-load-content="sites/database_edit.php?id={tmpl_var name='id'}">{tmpl_var name="database"}</a></td>
							<td><a href="#" data-load-content="sites/database_edit.php?id={tmpl_var name='id'}">{tmpl_var name="client"}</a></td>
							<td><a href="#" data-load-content="sites/database_edit.php?id={tmpl_var name='id'}">{tmpl_var name="used"}</a></td>
							<td><a href="#" data-load-content="sites/database_edit.php?id={tmpl_var name='id'}">{tmpl_var name="quota"}</a></td>
							<td><a href="#" data-load-content="sites/database_edit.php?id={tmpl_var name='id'}">{tmpl_var name="percentage"}</a></td>
							<td></td>
						</tr>
					</tmpl_loop>
					<tmpl_unless name="records">
						<tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
							<td colspan="7">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
						</tr>
					</tmpl_unless>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="7"><tmpl_var name="paging"></td>
					</tr>
				</tfoot>
			</table>
</div>
		
	</div>
