<div class="ctrlHolder">
	<label for="directive_snippets_id">
		{tmpl_var name='directive_snippets_id_txt'}
	</label>

	<select name="directive_snippets_id" id="directive_snippets_id" class="selectInput formLengthHalf">
		<option value="0"></option>
		<tmpl_loop name="records">
		<option {tmpl_if name='is_selected' op='==' value='true'}selected="selected" {/tmpl_if}value="{tmpl_var name='directive_snippets_id'}">
			{tmpl_var name='name'}
		</option>
		</tmpl_loop>
	</select>
</div>