<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_dns_txt">
    <div class="pnl_formsarea">
        <fieldset class="inlineLabels">
              <div class="ctrlHolder">
                <label for="data">{tmpl_var name='public_key_txt'}</label>
                <textarea name="data" id="data" readonly>{tmpl_var name='public_key'}</textarea>
              </div>
            <div class="ctrlHolder">
                <label for="ttl">{tmpl_var name='ttl_txt'}</label>
                <input name="ttl" id="ttl" value="{tmpl_var name='ttl'}" size="10" maxlength="10" type="text" class="textInput" />
            </div>

            <div class="ctrlHolder">
                <p class="label">{tmpl_var name='active_txt'}</p>
                <div class="multiField">
                    {tmpl_var name='active'}
                </div>
            </div>
        </fieldset>
            
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <input type="hidden" name="zone" value="{tmpl_var name='zone'}" id="zone">
        <input type="hidden" name="type" value="{tmpl_var name='type'}">
        <input type="hidden" name="name" value="{tmpl_var name='name'}">
            </div>
            
        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','dns/dns_dkim_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('dns/dns_soa_edit.php?id={tmpl_var name='zone'}');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
  
</div>
<script language="JavaScript" type="text/javascript" src="js/dns_dkim.js"></script>

