<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_dns_txt">
    <div class="pnl_formsarea">
        <fieldset class="inlineLabels">
            <div class="ctrlHolder">
                <label for="domain">{tmpl_var name='domain_txt'}</label>
				<input name="domain" id="domain" value="{tmpl_var name='domain'}" readonly size="30" maxlength="255" type="text" class="textInput" />
            </div>
            <div class="ctrlHolder">
            	<label for="dmarc_policy">{tmpl_var name='dmarc_policy_txt'}</label>
                <select name="dmarc_policy" id="dmarc_policy" class="selectInput">
                	{tmpl_var name='dmarc_policy'}
                </select>
				{tmpl_var name='dmarc_policy_note_txt'}
            </div>
			<div class="ctrlHolder">
				<label for="dmarc_rua">{tmpl_var name='dmarc_rua_txt'}</label>
				<input name="dmarc_rua" id="dmarc_rua" value="{tmpl_var name='dmarc_rua'}" size="20" maxlength="63" type="text" class="textInput" />
				{tmpl_var name='dmarc_rua_note_txt'}
			</div>
			<div class="ctrlHolder">
				<label for="dmarc_ruf">{tmpl_var name='dmarc_ruf_txt'}</label>
				<input name="dmarc_ruf" id="dmarc_ruf" value="{tmpl_var name='dmarc_ruf'}" size="20" maxlength="63" type="text" class="textInput" />
				{tmpl_var name='dmarc_ruf_note_txt'}
			</div>
            <div class="ctrlHolder">
                <p class="label">{tmpl_var name='dmarc_fo_txt'}</p>
                <div class="multiField">
					<input type="checkbox" value="1" id="dmarc_fo0" name="dmarc_fo0" {tmpl_var name='dmarc_fo0'}/>{tmpl_var name='dmarc_fo0_txt'}<br>
					<input type="checkbox" value="1" id="dmarc_fo1" name="dmarc_fo1" {tmpl_var name='dmarc_fo1'}/>{tmpl_var name='dmarc_fo1_txt'}<br>
					<input type="checkbox" value="1" id="dmarc_fod" name="dmarc_fod" {tmpl_var name='dmarc_fod'}/>{tmpl_var name='dmarc_fod_txt'}<br>
					<input type="checkbox" value="1" id="dmarc_fos" name="dmarc_fos" {tmpl_var name='dmarc_fos'}/>{tmpl_var name='dmarc_fos_txt'}
                </div>
            </div>
            <div class="ctrlHolder">
            	<label for="dmarc_adkim">{tmpl_var name='dmarc_adkim_txt'}</label>
                <select name="dmarc_adkim" id="dmarc_adkim" class="selectInput">
                	{tmpl_var name='dmarc_adkim'}
                </select>
				{tmpl_var name='dmarc_adkim_note_txt'}
            </div>
            <div class="ctrlHolder">
            	<label for="dmarc_aspf">{tmpl_var name='dmarc_aspf_txt'}</label>
                <select name="dmarc_aspf" id="dmarc_aspf" class="selectInput">
                	{tmpl_var name='dmarc_aspf'}
                </select>
				{tmpl_var name='dmarc_aspf_note_txt'}
            </div>
            <div class="ctrlHolder">
                <p class="label">{tmpl_var name='dmarc_rf_txt'}</p>
                <div class="multiField">
					 <input type="checkbox" value="1" id=dmarc_rf_afrf" name="dmarc_rf_afrf" {tmpl_var name='dmarc_rf_afrf'}/>{tmpl_var name='dmarc_rf_afrf_txt'}<br>
					<input type="checkbox" value="1" id="dmarc_rf_iodef" name="dmarc_rf_iodef" {tmpl_var name='dmarc_rf_iodef'}/>{tmpl_var name='dmarc_rf_iodef_txt'}
                </div>
            </div>
			<div class="ctrlHolder">
				<label for="dmarc_pct">{tmpl_var name='dmarc_pct_txt'}</label>
				<input name="dmarc_pct" id="dmarc_pct" value="{tmpl_var name='dmarc_pct'}" size="20" maxlength="63" type="text" class="textInput" />
				{tmpl_var name='dmarc_pct_note_txt'}
			</div>
			<div class="ctrlHolder">
				<label for="dmarc_ri">{tmpl_var name='dmarc_ri_txt'}</label>
				<input name="dmarc_ri" id="dmarc_ri" value="{tmpl_var name='dmarc_ri'}" size="20" maxlength="63" type="text" class="textInput" />
				{tmpl_var name='dmarc_ri_note_txt'}
			</div>
            <div class="ctrlHolder">
            	<label for="dmarc_sp">{tmpl_var name='dmarc_sp_txt'}</label>
                <select name="dmarc_sp" id="dmarc_sp" class="selectInput">
                	{tmpl_var name='dmarc_sp'}
                </select>
            </div>
            <div class="ctrlHolder">
                <label for="ttl">{tmpl_var name='ttl_txt'}</label>
                <input name="ttl" id="ttl" value="{tmpl_var name='ttl'}" size="10" maxlength="10" type="text" class="textInput" />
            </div>

            <div class="ctrlHolder">
                <p class="label">{tmpl_var name='active_txt'}</p>
                <div class="multiField">
					<input type="checkbox" value="1" id="active" name="active" {tmpl_var name='active'} / >
                </div>
            </div>
        </fieldset>
            
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <input type="hidden" name="zone" value="{tmpl_var name='zone'}" id="zone">
        <input type="hidden" name="type" value="{tmpl_var name='type'}">
        <input type="hidden" name="name" value="{tmpl_var name='name'}">
            </div>
            
        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','dns/dns_dmarc_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('dns/dns_soa_edit.php?id={tmpl_var name='zone'}');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
  
</div>

